body {
	
	           color: #fff;
	           font-size: 1.5em;
	           margin:0;
	           padding:0;
	           padding-bottom:60px;
            }
 
        fieldset{
	           color:#00F; 
	           padding:8px;
	           background: #f29107;
	           text-align:left;
                  border:2px solid #F00;;
            }
 
        legend {
	           color:#F00; 
	           background:#FFFFFF;
	           padding:10px;
                   font-size:20px;
                   text-align:center;
                   font-weight: bold;
                   font-style: italic;
            }
           input{
                   background:#CCC;
                   color:#600;
                   font-weight: bold;
            }